:root {
    --square-size: 40px;
}

#grid {
    width: 602px;
    height: 602px;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    width: var(--square-size);
    height: var(--square-size);
}

.star-background {
    background-image: url('sprites/starBackground.png');
}

.invader {
    background-image: url('sprites/invader.png');
    background-size: var(--square-size);
}

.ship {
    background-image: url('sprites/ship.png');
    background-size: var(--square-size);
}

.bullet {
    background-image: url('sprites/bullet.png');
    background-size: var(--square-size);
}

.explosion {
    background-image: url('sprites/explosion.png');
    background-size: var(--square-size);
}
